<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <app-selector-passageiro titulo="Adultos" subtitulo="(Acima de 12 anos)" [formControl]="formService.obterControle('adulto')"/>
      <app-selector-passageiro titulo="Crianças" subtitulo="(Entre 2 e 11 anos)" [formControl]="formService.obterControle('crianca')"/>
      <app-selector-passageiro titulo="Bebês" subtitulo="(Até 2 anos)" [formControl]="formService.obterControle('baby')"/>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
          value="Econômica"
          [selected]="formService.formBusca.get('tipo')?.value === 'Econômica'"
          (selectionChange)="formService.alterarTipo($event, 'Econômica')"
        >Econômica
        </mat-chip-option>
        <mat-chip-option
          value="Executiva"
          [selected]="formService.formBusca.get('tipo')?.value === 'Executiva'"
          (selectionChange)="formService.alterarTipo($event, 'Executiva')"
        >Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>BUSCAR</button>
  </div>
</section>

